<% if timeline[:meta].present? %>
  <% content_for :title, timeline[:meta][:title] %>
  <% content_for :description, timeline[:meta][:description] %>
  <% content_for :keywords, timeline[:meta][:keywords] %>
<%else%>
  <% content_for :title, "Explore "+ timeline[:name]+ " timeline" %>
  <% content_for :description, 'Timeline of creating '+ timeline[:name]+ '. Full history from the start till now.'%>
<%end%>
<% content_for :css do %>
  .header.brand { background: <%= timeline[:background]%>;}
  article .date, article a { color: <%= timeline[:background]%>;}
<%end%>
<div class='background blured'></div>
<div class="content">
  <div class="header brand">
    <div class="container row">
      <%= link_to '', '/timelines', class: 'icon-options'%>
      <div class="name"><%= timeline[:name]%></div>
      <div class="likes">
        <small>share with:</small>&nbsp;
        <a href="javascript:void(0)" class="facebook-link icon-facebook"></a>
        <a href="javascript:void(0)" class="twitter-link icon-twitter"></a>
        <a href="javascript:void(0)" class="google-link icon-google"></a>
        <a href="javascript:void(0)" class="pinterest-link icon-pinterest"></a>
      </div>
    </div>
  </div>

  <div id="main">
    <article id="timeline">
      <% timeline[:entries].each do |slide| %>
        <section>
          <div class="date">
            <%= Date.parse(slide[:date]).strftime('%d %B, %Y')%>
          </div>
          <div class="details">
            <%= slide[:text]%>
          </div>
        </section>
      <% end %>
  	</article>
  </div>
  <div class="arrow-keys">
    <span class="arr-up">&nbsp;</span>
    <span class="arr-left">&larr;</span>
    <span class="arr-down"> &nbsp;</span>
    <span class="arr-right">&rarr;</span>
  </div>
  <div class="timeline">
    <div class="container">
      <div class="edge"></div>
    </div>
  </div>
</div>

<script id="person" type="x-tmpl-mustache">
  <div class="person">
    <div class="left">
      <img src="{{image}}" alt="{{name}}" />
    </div>
    <div class="last-col">
      <strong>{{name}}</strong><br />
      <small class="muted">{{title}}</small><br />
      {{#age}}
      <small>{{age}} years old</small>
      {{/age}}
    </div>
  </div>
</script>

<script type="text/javascript">
$(document).ready(function(){
  timeline = new Timeline(
    <%= MultiJson.dump(timeline[:entries].map{|entry| entry[:date]}).html_safe%>,
    <%= MultiJson.dump(timeline[:people]).html_safe%>,
    '<%=timeline[:background]%>'
  )
  shares = new Share('http://www.startlin.es/timelines/<%= timeline[:name].downcase%>')
});
</script>
