<% content_for :title, "Explore "+ timeline[:name]+ " timeline"%>
<% content_for :description, 'Timeline of creating '+ timeline[:name]+ '. Full history from the start till now.'%>
<div class='background blured' style=""></div>
<div class="content">
  <div class="header" style="background: <%= timeline[:color]%>">
    <div class="container row">
      <%= link_to '', '/timelines', class: 'icon-options'%>
      <div class="name"><%= timeline[:name]%></div>
      <div class="likes">
        <a href="javascript:void(0)" class="facebook-link icon-facebook"></a>
        <a href="javascript:void(0)" class="twitter-link icon-twitter"></a>
        <a href="javascript:void(0)" class="google-link icon-google"></a>
        <a href="javascript:void(0)" class="pinterest-link icon-pinterest"></a>
      </div>
    </div>
  </div>

  <div id="main">
    <article id="timeline">
      <% timeline[:entries].each do |slide| %>
        <section>
          <div class="date" style="color: <%= timeline[:color]%>">
            <%= Date.parse(slide[:date]).strftime('%d %B, %Y')%>
          </div>
          <div class="details">
            <%= slide[:text]%>
          </div>
        </section>
      <% end %>
  	</article>
  </div>
  <div class="arrow-keys">
    <span class="arr-up">&nbsp;</span>
    <span class="arr-left">&larr;</span>
    <span class="arr-down"> &nbsp;</span>
    <span class="arr-right">&rarr;</span>
  </div>
  <div class="timeline">
    <div class="container">
      <div class="edge"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  timeline = new Timeline(<%= MultiJson.dump(timeline[:entries].map{|entry| entry[:date]}).html_safe%>, '<%=timeline[:color]%>')
  shares = new Share('http://www.startlin.es/timelines/<%= timeline[:name].downcase%>')
});
</script>
