<% content_for :title, 'Explore Startup Timelines'%>
<% content_for :description, 'Curious about starting and growing a startup? Learn about most innovative startups that changed the world by exploring startup timelines'%>

<div class="header row">
  <div class="line">
    <div class="color"></div>
  </div>
  <div class="container">
    <div class="logo">
      <%= link_to '<i class="icon-circular"></i> Startlin.es', '/'%>
    </div>
  </div>
</div>
<div class="container">
  <div class="grid">
    <h2>Explore Startups Timelines </h2>
    <div class="row">
      <% @timelines.each do |timeline|%>
        <div class="cell">
          <a href="/timelines/<%= timeline[:name].downcase%>" class="brick <%= timeline[:name].downcase%>" style="background: <%= timeline[:background]%>">
            <i class="icon-<%= timeline[:name].downcase%>"></i>
            <%= timeline[:name]%>
          </a>
        </div>
      <%end%>
    </div>
  </div>
  <div class="newsletter">
      <div class="form">
        <h2>Want to know when there's more?</h2>
        <div class="error-container"></div>
        <div class="fields">
          <input type="email" id="email_field" placeholder="Subscribe for updates" />
          <button class="button">Give me more</button>
        </div>
      </div>
      <div class="error">
        <h1>Oops, something went wrong</h1>
        <h3>We were unable to submit your email.<br/>Try again later.</h3>
      </div>
      <div class="success">
        <h1>You've got it!</h1>
        <h3>Once we have a new stories to share<br/> we'll drop you a line.</h3>
      </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <span class="mobile-off">Crafted</span> with <i class="icon-heart"></i> by <a href="http://twitter.com/alchaplinsky" target="_blank">Alex Chaplinsky</a>
    <div class="right">
      Share via:
      <a href="javascript:void(0)" class="facebook-link icon-facebook" style="margin-left: 10px;"></a>
      <a href="javascript:void(0)" class="twitter-link icon-twitter"></a>
      <a href="javascript:void(0)" class="google-link icon-google"></a>
    </div>
  </div>
</div>
<script>
  shares = new Share('http://www.startlin.es/');
  newsletter = new Newsletter();
</script>
